/*Base Style*/

* {
  box-sizing: border-box;
}

body {
  font-family: 'Noto Sans', sans-serif;
  background: #fafafa;
}


.name {
  font-size: 2.5em;
}

a {
  text-decoration: none;
}


/*Nav*/

.main-nav a {
  text-transform: uppercase;
  color: black;
}

.name,
.main-nav a {
  text-align: center;
  margin-top: 7px;
  margin-bottom: 7px;
  font-weight: bold;
  padding: 15px 15px
}

.main-nav a {
  display: block;
  background: #fff;
  font-size: 1.2em;
}

.main-nav {
  padding-left: 15px;
  padding-right: 15px;
}

/*body*/

.bio,
.contact {

  text-align: center;
  line-height: 1.5em;
  color: #939393;
  padding: 30px 15px;
  font-weight: normal;
}

.profile-img {
  display: block;
  margin: auto;
  margin-top: 55px;
  max-width: 65%;
}



.content {
  color: #6f6f6f;
  text-align: center;
  background-color: #fff;
}

.content p {

  margin: 20px 30px 20px 30px;
  line-height: 1.5em;
  padding-bottom: 20px;
}

h1 {
  padding-top: 20px;
}

h1,
.content h2 {
  margin-top: 30px;
  margin-bottom: 30px;
  color: black;
  font-weight: normal;

}

.icons {
  max-width: 90%;
  border-radius: 5px;
}

.icons:hover {
	opacity: .8;
}



.skills {

  border-top: 2px solid #dfdfdf;
}


.skills li {
  padding-bottom: 20px;
  text-align: left;
  margin-left: 15px;
}


.skills ul {
  margin: auto;
  list-style: none;
}

.skills li:before {
    content: "x";
    padding-right: 8px;
    color: pink;
}

/*Contact*/

.contact h2 {
  font-size: 1em;
  color: black;
}

.contact ul {
  list-style: none;
  font-weight: normal;
}

.contact li a {
  color: #6f6f6f;
  display: inline-block;
  padding-left: 20px;
}


/*Footer*/

footer {
  border-top: 2px solid #dfdfdf;
  margin-left: 30px;
  margin-right: 30px;
  font-weight: bold;


}

.namebottom {
  float: left;
  color: black;
}

.foottop a {
  display: inline;
  float: right;
  color: black;
}

footer p {
  margin-top: 40px;
  margin-bottom: 40px;

}

.botnav {
  display: none;
}



/*Responsive Layout*/

@media (min-width: 768px) {



.profile-img {
  display: inline;
  max-width: 40%;
  margin-top: 20px;
}

	.main-nav a {
		display: inline-block;
    background-color: inherit;
    font-size: 1em;
	}

.container {
  text-align: center;
}

	.name {
    display: block;
    font-size: 1.5rem;
	}

  .bio {
  display: inline-block;
  max-width: 50%;
  padding: 0 20px;
  text-align: left;
  vertical-align: top;
  font-weight: normal;
  font-size: 1.1rem;
  line-height: 1.8em;
}


.col {
		display: inline-block;
		width: 50%;
		margin-right: -5px;
    margin-left: -5px;
    font-size: .9em;
    vertical-align: top;
	}

.skills ul {
  padding: 30px;
  max-width: 80%;

}



  .content p {
    margin: 20px 50px;
}

  .contact {
    font-size: 1.25em;
    max-width: 80%;
    text-align: center;
  margin: auto;
}

  .foottop {
    display: none;
}

  .botnav {
  display: inline-block;
  float: right;
  margin-top: 40px;
}

  .botnav a {
  display: inline-block;
  color: black;
  padding-right: 10px;
  margin-right: 15px;
}

}

@media (min-width: 1024px) {

.main-header {
  overflow: auto;
}

	.name {
    display: inline-block;
    font-size: 1.5rem;
    float:
    margin-left: 15px;
  position: absolute;
  left: 30px;
}

.main-nav {
  position: absolute;
  right: 30px;
}

  .bio {
    padding-right: 30px;
    padding-left: 30px;
    max-width: 60%;
  float: left;
    margin-top: 80px;

}

  .bio p {
    margin-top: 0;
}


  .profile-img {
    float: right;
    margin-right: 30px;
  margin-top: 80px;
}

  .profile-img {
    display: inline-block;
    text-align: right;

}


.col {
		display: inline-block;
		width: 33.3%;
		margin-right: -5px;
    margin-left: -5px;
    vertical-align: top;

	}

.content p {
    margin: 15px 20px;
}

.Portfolio {
  font-size: 1em;
  padding-top: 30px;
  padding-bottom: 30px;
}

}
